.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97%; 
  border-bottom: 2px solid;
  left: 50%;
  transform: translate(-50%, 0);
}

.header.light::after {
  border-color: black;
}

.header.dark::after {
  border-color: white;
}