.prediction-container {
  border: 1px solid rgba(245, 245, 245, 0.325);
  width: 180px;
  aspect-ratio: 1;
  background-color: #0E1B29 ;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.prediction-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #9DA9B4
}

.prediction-result {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
